<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>


  <!-- Jquery -->

  <link rel="stylesheet" href="{%static 'js/jquery-3.5.1.min.js'%}">

  <!--javascript  -->
  <a href="/home" class="btn btn-primary my-3 float-right"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
      height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
      <path
        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
    </svg> &nbsp;Home page</a>
  <div class="text-center">
    <h1>project page</h1>
  </div>

  <div class="card-group container mt-5" style="text-align: justify;">
    <div class="card mx-2">
      <img class="card-img-top" src="{%static 'img/e-com.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">E-shop</h5>
        <p class="card-text">E-shop is a E commerce based application where farmer and the government autority which
          related to the agriculture sectore are getting interlinked and the farmer can sell there product with good
          price as compaied to other and the all the benifits are directly gets settled into the farmer bank account Vai
          DBT portal.</p>

      </div>
    </div>
    <div class="card mx-2">
      <img class="card-img-top" src="{%static 'img/blog.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Blog</h5>
        <p class="card-text">In this blog project i used the API that automatically fetch all the technical news from
          around the world which is trending and which gets refresh within 24 hour automatically .</p>

      </div>
    </div>
    <div class="card mx-2">
      <img class="card-img-top" src="{%static 'img/portfolio.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Portfolio</h5>
        <p class="card-text">As the world go toword the digitization many of the people having there own online profile
          so because they talk less and show there skill sets to the people as they have and prove them self digitally
          sound.</p>

      </div>
    </div>

  </div>
  <div class="card-group container mt-3" style="text-align: justify;">
    <div class="card mx-2">
      <img class="card-img-top" src="{%static 'img/start.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Start-Up Support</h5>
        <p class="card-text">during pandamic many of the people gets unemployed by loosing there jobs but they have skill sets but they cant rech out people because of pandamic and goverment restriction so making websites /webapplications for startup help them to reach many people.</p>

      </div>
    </div>
    <div class="card mx-2">
      <img class="card-img-top" src="{%static 'img/NGO.png'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NGO</h5>
        <p class="card-text">NGO is not able to arrenge drive to hire manpower so i developed the NGO registration portal which collects the data with respect to state ,Districts and Town/city, and further helps in pandamic days specially inn covid-19 2nd wave with respect of blood and plasma donation.</p>

      </div>
    </div>
    <div class="card mx-2">
      <img class="card-img-top" src="{%static 'img/more.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">in Progress</h5>
        <p class="card-text">As the world go toword the digitization many of the people having there own online profile
          so because they talk less and show there skill sets to the people as they have and prove them self digitally
          sound.</p>

      </div>
    </div>

  </div>


  <footer class="p-2 mt-3">
    <div class="text-center">
      <!-- <h6 class="float-start">Time:&nbsp;{{time}}</h6> -->

      <h6>&#169 all right's reserved <br>
        Designed and developed by vivek-nagre</h6>
      <div class="mx-5">

      </div>
    </div>
    </div>
  </footer>
  <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
  <!-- seprate js link -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</body>

</html>